<h1>Listing products</h1>

<%= link_to 'New Product', new_product_path %>

<div id="products">
  <% @products.each do |product| %>
    <%= link_to product_path(product.id) do %>
      <h2>
        <%= number_to_currency(product.formatted_price) %>
        <%= product.name %>
      </h2>
    <% end %>
    <!-- keeps the description to 100 characters or less -->
    <p><%= truncate(product.description, length: 100) %></p>
  <% end %>
</div>
